.imfellfont {
  font-family: im_fell, Georgia, Times, Serif;
  font-weight: normal;
  text-align: center;
}
.linlibertinefont {
  font-family: linlibertine, Times, serif;
}
.fanwoodfont {
  font-family: fanwood, georgia, times, serif;
}
.nadiafont {
  font-family: nadiaserif, courier, mono;
}
.ornamentfont {
  font-family: davys;
  margin: 0 0.2em;
}
html {
  background-color: #fcfcfc;
}
body {
  padding-top: 50px;
  background-color: #fcfcfc;
  font-family: linlibertine, Times, serif;
  font-size: 1.2em;
  line-height: 1.5em;
}
h1 {
  font-family: im_fell, Georgia, Times, Serif;
  font-weight: normal;
  text-align: center;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: fanwood, georgia, times, serif;
  font-weight: normal;
}
h3 {
  font-size: 1.2em;
}
header {
  font-family: im_fell, Georgia, Times, Serif;
  text-align: center;
  font-weight: normal;
  margin: 2em 0;
}
header h1 {
  font-size: 3em;
}
header h2 {
  font-size: 2em;
}
article hr {
  border-width: 0;
  text-align: center;
}
article hr:after {
  font-family: davys;
  margin: 0 0.2em;
  content: "a";
  position: relative;
  top: -0.5em;
}
blockquote {
  font-family: nadiaserif, courier, mono;
  font-size: .8em;
  margin: 0 2em 1em 4em;
  border-left: none;
}
blockquote p {
  font-size: 1em;
  line-height: 1.1em;
}
a {
  color: 80% #000000;
}
.footnote {
  font-family: fanwood, georgia, times, serif;
  font-size: .8em;
  position: relative;
  top: -0.5em;
}
.chaptertext {
  text-align: center;
  font-size: .5em;
  line-height: .5em;
}
.chaptertext:after {
  font-family: davys;
  margin: 0 0.2em;
  content: "y";
}
.chaptertext:before {
  font-family: davys;
  margin: 0 0.2em;
  content: "y";
}
.subtitle {
  text-align: center;
  font-size: 1.5em;
}
.subtitle:before {
  font-family: davys;
  margin: 0 0.2em;
  content: "u";
}
.subtitle:after {
  font-family: davys;
  margin: 0 0.2em;
  content: "v";
}
.toc-title:before {
  font-family: davys;
  margin: 0 0.2em;
  content: "R";
}
.toc-title:after {
  font-family: davys;
  margin: 0 0.2em;
  content: "T";
}
.aoc {
  float: left;
  margin: 0 5px 5px 0;
  max-width: 80px;
}
.toc-container {
  text-align: center;
}
.toc-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.toc-container a:hover {
  text-decoration: none;
}
.contract-container {
  border: 3px double #666;
  padding: 1em;
  margin: 1em 0;
  font-size: .8em;
  line-height: 1.1em;
  color: #333;
  font-size: 1em;
  line-height: 1.5em;
  font-family: nadiaserif, courier, mono;
  font-weight: normal;
}
.contract-container h2 {
  text-align: center;
}
.contract-container h3,
.contract-container h4 {
  text-align: center;
  font-family: nadiaserif, courier, mono;
  padding: 0 1em 1em;
}
.contract-container ol,
.contract-container ul {
  margin-left: 3em;
  line-height: 1.5em;
}
.contract-container p {
  margin-bottom: 0;
}
.attribute {
  border: 3px double #666;
  padding: 1em;
  margin: 1em 0;
  font-size: .8em;
  line-height: 1.1em;
  color: #333;
}
.attribute h2 {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 767px) {
  
}
@media (min-width: 1200px) {
  .autocolumn {
    text-indent: none;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
  }
  .autocolumn ul {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  header h1 {
    font-size: 2em;
  }
  h1 {
    font-size: 2em;
    line-height: 1em;
  }
  h2 {
    font-size: 1.3em;
    line-height: 1em;
  }
  .autocolumn {
    text-indent: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
  }
  .autocolumn ul {
    margin: 0;
  }
}
@media (max-width: 767px) {
  
}
@media (max-width: 480px) {
  body {
    font-size: 1em;
  }
  h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  blockquote {
    margin-left: 0px;
  }
  .subtitle {
    margin-bottom: 1em;
    font-size: 1.2em;
  }
  .subtitle:before {
    display: none;
  }
  .subtitle::after {
    display: none;
  }
  .autocolumn {
    text-indent: none;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
  }
  .autocolumn ul {
    margin: 0;
  }
}
@media (max-width: 979px) {
  
}
@media (min-width: 980px) {
  
}
