@font-face {
    font-family: 'Davys';

    src: url('../fonts/Davys/DavysDingbats-webfont.eot');
    src: url('../fonts/Davys/DavysDingbats-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Davys/DavysDingbats-webfont.woff') format('woff'),
         url('../fonts/Davys/DavysDingbats-webfont.ttf') format('truetype'),
         url('../fonts/Davys/DavysDingbats-webfont.svg#DavysRegular') format('svg');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fanwood';

    src: url('../fonts/fanwood/Fanwood-webfont.eot');
    src: url('../fonts/fanwood/Fanwood-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fanwood/Fanwood-webfont.woff') format('woff'),
         url('../fonts/fanwood/Fanwood-webfont.ttf') format('truetype'),
         url('../fonts/fanwood/Fanwood-webfont.svg#FanwoodRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fanwood';

    src: url('../fonts/fanwood/Fanwood-Italic-webfont.eot');
    src: url('../fonts/fanwood/Fanwood-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fanwood/Fanwood-Italic-webfont.woff') format('woff'),
         url('../fonts/fanwood/Fanwood-Italic-webfont.ttf') format('truetype'),
         url('../fonts/fanwood/Fanwood-Italic-webfont.svg#FanwoodItalic') format('svg');

    font-weight: normal;
    font-style: italic;

}


@font-face {
    font-family: 'im_fell';

    src: url('../fonts/imfell/feenit27c-webfont.eot');
    src: url('../fonts/imfell/feenit27c-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/imfell/feenit27c-webfont.woff') format('woff'),
         url('../fonts/imfell/feenit27c-webfont.ttf') format('truetype'),
         url('../fonts/imfell/feenit27c-webfont.svg#im_fell_english_proitalic') format('svg');

    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'im_fell';
    src: url('../fonts/imfell/feenrm28c-webfont.eot');
    src: url('../fonts/imfell/feenrm28c-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/imfell/feenrm28c-webfont.woff') format('woff'),
         url('../fonts/imfell/feenrm28c-webfont.ttf') format('truetype'),
         url('../fonts/imfell/feenrm28c-webfont.svg#im_fell_english_proregular') format('svg');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Linlibertine';

    src: url('../fonts/linlibertine/LinLibertine_R-webfont.eot');
    src: url('../fonts/linlibertine/LinLibertine_R-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linlibertine/LinLibertine_R-webfont.woff') format('woff'),
         url('../fonts/linlibertine/LinLibertine_R-webfont.ttf') format('truetype'),
         url('../fonts/linlibertine/LinLibertine_R-webfont.svg#LinuxLibertineORegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Linlibertine';

    src: url('../fonts/linlibertine/LinLibertine_RI-webfont.eot');
    src: url('../fonts/linlibertine/LinLibertine_RI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linlibertine/LinLibertine_RI-webfont.woff') format('woff'),
         url('../fonts/linlibertine/LinLibertine_RI-webfont.ttf') format('truetype'),
         url('../fonts/linlibertine/LinLibertine_RI-webfont.svg#LinuxLibertineORegular') format('svg');

    font-weight: normal;
    font-style: italic;

}



@font-face {
    font-family: 'NadiaSerif';

    src: url('../fonts/Nadia/nadia_serif-webfont.eot');
    src: url('../fonts/Nadia/nadia_serif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nadia/nadia_serif-webfont.woff') format('woff'),
         url('../fonts/Nadia/nadia_serif-webfont.ttf') format('truetype'),
         url('../fonts/Nadia/nadia_serif-webfont.svg#NadiaSerifNormal') format('svg');


    font-weight: normal;
    font-style: normal;

}



