@font-face {
    font-family: 'Davys';
    src: url('../Fonts/Davys/DavysDingbats-webfont.eot');
    src: url('../Fonts/Davys/DavysDingbats-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Davys/DavysDingbats-webfont.woff') format('woff'),
         url('../Fonts/Davys/DavysDingbats-webfont.ttf') format('truetype'),
         url('../Fonts/Davys/DavysDingbats-webfont.svg#DavysRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fanwood';
    src: url('../Fonts/fanwood/Fanwood-webfont.eot');
    src: url('../Fonts/fanwood/Fanwood-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/fanwood/Fanwood-webfont.woff') format('woff'),
         url('../Fonts/fanwood/Fanwood-webfont.ttf') format('truetype'),
         url('../Fonts/fanwood/Fanwood-webfont.svg#FanwoodRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fanwood';
    src: url('../Fonts/fanwood/Fanwood-Italic-webfont.eot');
    src: url('../Fonts/fanwood/Fanwood-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/fanwood/Fanwood-Italic-webfont.woff') format('woff'),
         url('../Fonts/fanwood/Fanwood-Italic-webfont.ttf') format('truetype'),
         url('../Fonts/fanwood/Fanwood-Italic-webfont.svg#FanwoodItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}


@font-face {
    font-family: 'im_fell';
    src: url('../Fonts/imfell/feenit27c-webfont.eot');
    src: url('../Fonts/imfell/feenit27c-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/imfell/feenit27c-webfont.woff') format('woff'),
         url('../Fonts/imfell/feenit27c-webfont.ttf') format('truetype'),
         url('../Fonts/imfell/feenit27c-webfont.svg#im_fell_english_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'im_fell';
    src: url('../Fonts/imfell/feenrm28c-webfont.eot');
    src: url('../Fonts/imfell/feenrm28c-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/imfell/feenrm28c-webfont.woff') format('woff'),
         url('../Fonts/imfell/feenrm28c-webfont.ttf') format('truetype'),
         url('../Fonts/imfell/feenrm28c-webfont.svg#im_fell_english_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LeagueGothic';
    src: url('../Fonts/League-Gothic/League_Gothic-webfont.eot');
    src: url('../Fonts/League-Gothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/League-Gothic/League_Gothic-webfont.woff') format('woff'),
         url('../Fonts/League-Gothic/League_Gothic-webfont.ttf') format('truetype'),
         url('../Fonts/League-Gothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lora';
    src: url('../Fonts/lora/Lora-Regular-webfont.eot');
    src: url('../Fonts/lora/Lora-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/lora/Lora-Regular-webfont.woff') format('woff'),
         url('../Fonts/lora/Lora-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/lora/Lora-Regular-webfont.svg#LoraRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lora';
    src: url('../Fonts/lora/Lora-Italic-webfont.eot');
    src: url('../Fonts/lora/Lora-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/lora/Lora-Italic-webfont.woff') format('woff'),
         url('../Fonts/lora/Lora-Italic-webfont.ttf') format('truetype'),
         url('../Fonts/lora/Lora-Italic-webfont.svg#LoraItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Linlibertine';
    src: url('../Fonts/linlibertine/LinLibertine_R-webfont.eot');
    src: url('../Fonts/linlibertine/LinLibertine_R-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/linlibertine/LinLibertine_R-webfont.woff') format('woff'),
         url('../Fonts/linlibertine/LinLibertine_R-webfont.ttf') format('truetype'),
         url('../Fonts/linlibertine/LinLibertine_R-webfont.svg#LinuxLibertineORegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Linlibertine';
    src: url('../Fonts/linlibertine/LinLibertine_RI-webfont.eot');
    src: url('../Fonts/linlibertine/LinLibertine_RI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/linlibertine/LinLibertine_RI-webfont.woff') format('woff'),
         url('../Fonts/linlibertine/LinLibertine_RI-webfont.ttf') format('truetype'),
         url('../Fonts/linlibertine/LinLibertine_RI-webfont.svg#LinuxLibertineOItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}


@font-face {
    font-family: 'Underwood';
    src: url('../Fonts/Underwood/underwood_champion-webfont.eot');
    src: url('../Fonts/Underwood/underwood_champion-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Underwood/underwood_champion-webfont.woff') format('woff'),
         url('../Fonts/Underwood/underwood_champion-webfont.ttf') format('truetype'),
         url('../Fonts/Underwood/underwood_champion-webfont.svg#UnderwoodChampionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'PlainBlack';
    src: url('../Fonts/plainblack/Plain_Black-webfont.eot');
    src: url('../Fonts/plainblack/Plain_Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/plainblack/Plain_Black-webfont.woff') format('woff'),
         url('../Fonts/plainblack/Plain_Black-webfont.ttf') format('truetype'),
         url('../Fonts/plainblack/Plain_Black-webfont.svg#PlainBlackNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NadiaSerif';
    src: url('../Fonts/Nadia/nadia_serif-webfont.eot');
    src: url('../Fonts/Nadia/nadia_serif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Nadia/nadia_serif-webfont.woff') format('woff'),
         url('../Fonts/Nadia/nadia_serif-webfont.ttf') format('truetype'),
         url('../Fonts/Nadia/nadia_serif-webfont.svg#NadiaSerifNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}



